@{
    ViewBag.Title = "About WebTek";
    Layout = "_HomeLayoutLoginCreate";
}
<h2>About WebTek</h2>
<body>
    <p>WebTek is a Virtual Marketplace that provides services to consumers that allows them to sell their new or slightly used items for a fee. 
    These items can range anywhere from clothes to electronics to tools. The choices are endless. WekTek is not just another virtual marketplace, 
    we don’t see our customers as just another dollar figure.  We value our sellers and customers.  All the other “competitors” talk about is making 
    it simple and easy to sell but none of them talk about having that support if things go wrong. We will provide the customer support for our consumers 
    as well as having the selling experience be seamless.
    </p>
    <h4>Mission</h4>
    <p>Many virtual marketplaces involve a lot of buyer/seller interactions where buyers have to meet sellers physically in order to conduct a transaction. 
    This sort of interaction may discourage users from using the given platform. At WebTek, we understand the risks and inconveniences such interactions may carry. 
    Therefore WebTek’s mission is to provide a worry-free platform where all sellers have to do is list their products and buyers can make purchases and wait for 
    their packages to be delivered at the step of their door. We take care of all the hassle so our users can conduct their business on our platform.
    </p>
    <h4>Goal</h4>
    <p>The goal for WebTek is to provide a seamless experience to its users and become the #1 Virtual Marketplace. The less buyers and sellers have to worry about using a platform, 
    the happier they will be using it. The happiness of our users is very important as it will help us retain them and it will also attract new users which will tremendously help us 
    achieve our goal of becoming the best Virtual Marketplace.
    </p>
</body>
