@{
    ViewBag.Title = "WebTek: Your Virtual MarketPlace";
    Layout = "_HomeLayoutLoginCreate";
}
<h2>Welcome to WebTek</h2>
<body>
    <p>WebTek makes it easy for you to buy items from a third party. Start by creating an account by clicking register at the top right
    of the screen. To see what Items are available for sale, press the "Items For Sale" navigation button and there you have a list of items that are currently for saale by
    other Users. If you would like to put something up for sale, go ahead and click the "Sell an Item" navigation button and it will bring you to the page where you can enter 
    the required information. As soon as you press Publish, it gets posted to the "Items For Sale" Category.
    </p>
</body>

